:root {
  --color-interface-white: rgba(255, 255, 255, 1);
  --color-interface-white-secondary: rgba(251, 251, 251, 1);
  --color-interface-blue: rgba(0, 60, 150, 1);
  --color-interface-blue-light: rgba(180, 200, 255, 1);
  --color-interface-border-tablecell: rgba(233, 234, 234, 0.5);
  --color-interface-grey: rgba(233, 234, 234, 1);
  --color-interface-yellow: rgba(255, 185, 0, 1);

  --common-element-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08),
    0 10px 20px -5px rgba(0, 0, 0, 0.08);

  --color-text-primary: rgba(44, 42, 41, 1);
}

#root {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  max-width: 1920px;
  height: 100vh;
}

body {
  margin: 0;
  font-family: "Gilroy", "Arial", "sans-serif";
}
