.footer {
  min-width: 896px;
  min-height: 64px;
  border-radius: 16px;
  padding: 16px 24px 16px 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-interface-grey);
  position: absolute;
  bottom: 32px;
  left: 332px;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
}

.sumContainer {
  display: flex;
  align-items: center;
}

.deleteContainer {
  display: flex;
  align-items: center;
  background-color: var(--color-interface-grey);
  border: none;
  cursor: pointer;
}

.sumCheckbox:checked {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  background-color: var(--color-interface-blue);
}

.sumText {
  margin: 0;
  font-family: Gilroy;
  font-weight: 400;
}

.trashImage {
  margin-right: 8px;
}

.diskImage {
  margin: 0 8px 0 32px;
}

.productSum {
  margin: 38px 0 28px 0;
  text-align: end;
}

.buttonContainer {
  display: flex;
}

.closeIconWrapper {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.closeIcon {
  width: 24px;
  height: 24px;
}
